input {
  background-color: transparent;
  outline: none;
  border: 2px solid #ffffff6b;
  padding: 16px;
  border-radius: 12px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
input:focus{
  box-shadow: 0 0 0 2px #fff;
}

input::placeholder {
  font-family: var(--font-space);
  letter-spacing: 2px;
  color: #ffffffb4;
}